* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

@import "utilities/flex";

/*.container {*/
/*  padding: 0;*/
/*}*/

/*.row {*/
/*  margin: 0;*/
/*}*/

/*.col-md-12, .col-md-11,*/
/*.col-md-6, .col-md-10,*/
/*.col-md-4, .col-md-9,*/
/*.col-md-3, .col-md-8,*/
/*.col-md-2, .col-md-1,*/
/*.col-md-7, .col-md-5{*/
/*  padding: 0;*/
/*}*/

.mobile {
  display: none;
}

body, .modal {
  padding-right: 0 !important;
}

.modal-open {
  overflow-y: scroll !important;
}

p:last-child {
  margin-bottom: 0;
}

.header {
  background: url('../../img/icon-theme/bg-header.png') no-repeat center center;
  background-size: cover;
  position: relative;
}

.header-logo {
  padding: 36px 0 12px;
  display: flex;
  justify-content: center;
}

.wrap-header {
  display: flex;
  justify-content: center;
  padding: 18px 30px 18px;
}

.header-login {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;

  svg {
    margin-right: 6px;
    transform: translateY(-1px);
  }

  &:hover {
    text-decoration: none;
    color: #ffffff !important;
  }
}

.wrap-header a {
  color: #fff;
}

.main {
  position: relative;
}

.header-logo a {
  font-size: 36px;
  display: inline-block;

  img {
    max-width: 180px;
    width: 100%;
  }
}

.header-list-menu {
  display: flex;
  margin-bottom: 0;

  li {
    padding: 0 38px;

    a {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}

a {
  transition: all .25s;
}

.header-list-menu li a:hover {
  color: #ffffff !important;
}

/* body */

.item-slide img {
  width: 100%;
}

.slick-dots {
  bottom: 25px !important;
}

.subtitle {
  display: block;
  font-family: 'Arizonia', cursive;
  font-size: 25px;
}

.nail-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}

.nail-address {
  padding-bottom: 6px;
  position: relative;
  z-index: 1;

  a {
    font-size: 16px;
    position: relative;
    display: flex;

    svg {
      margin-right: 10px;
      transform: translateY(-4px);
      font-size: 24px;
    }
  }
}

.footer-phone a {
  svg {
    font-size: 24px;
  }

  &:hover {
    text-decoration: none;
  }
}

.nail-address a {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.nail-call {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  a {
    font-size: 23px;
    text-decoration: none;
    margin: 0 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.opening {
      display: inline-block;
    }

    svg {
      font-size: 30px;
      font-weight: 500;
      margin-right: 10px;
    }
  }
}

.social-network {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0 15px 0;
  transform: translateY(10px);
}

.item-social-network {
  margin: 0 6px;

  a img {
    max-width: 50px;
    width: 100%;
  }

  &:first-child {
    margin-left: 0;
  }
}

.nail-list-social {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  z-index: 1;
}

.item-social {
  padding: 0 10px;
}

.nail-social-network {
  padding-bottom: 30px;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;

  .item-info {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #008037;
    border-radius: 5px;

    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

.content-frame {
  text-align: center;
}

.rating-content {
  text-align: center;
  padding: 0 15px 15px 15px;
}

.rating-review {
  display: flex;
  margin-bottom: 30px;
}

.gift .col-md-4 {
  padding: 28px 15px 0;
}

.slick-dots li {
  button {
    &:before {
      opacity: .75 !important;
      color: transparent !important;
      background: black !important;
      border-radius: 50%;
      width: 9px !important;
      height: 9px !important;
    }

    width: 9px !important;
    height: 9px !important;
  }

  width: 9px !important;
  height: 9px !important;
  margin: 0 3px !important;
}

.slider .slick-dots {
  bottom: 4px !important;
}

.wrap-review, .buy-gift, .check-gift {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background: url('../../img/icon-theme/bg-btn.png') no-repeat center center;
  background-size: cover;
  color: #cfa560;
  border-radius: 18px;
  font-size: 16.4px;
  padding: 9px 0;
}

.buy-gift {
  margin-top: 25px;
  margin-bottom: 22px;
  min-width: 183px;
  margin-left: 55px;
}

.check-gift {
  min-width: 183px;
  margin-left: 55px;
}

.wrap-review {
  font-size: 14px;
  margin: 9px auto 0;
  padding: 7.5px 28px;
}

.wrap-video {
  max-width: 960px;
  margin: auto;
  padding-bottom: 30px;
}

.video {
  margin-bottom: 30px;
}

#video-youtube {
  height: 670px;
}

.wrap-video iframe {
  width: 100%;
  height: 450px;
}

.star {
  width: 200px;
  margin: auto;
  padding-bottom: 45px;
}

/* reviews */

.list-reviews {
  margin-bottom: 30px;
}

.wrap-list-reviews {
  text-align: center;
  padding: 6px 0 65px;
}

.slider-reviews {
  padding: 0 30px;
  max-width: 880px;
  margin: 0 auto;
  font-weight: 900;

  &:before{
    content: "\f10d";
    position: absolute;
    left: 0;
    top: -10px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
  }

  &:after{
    content: "\f10e";
    position: absolute;
    right: 0;
    bottom: -10px;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
  }

  .item-slider-reviews {
    position: relative;
    padding: 0 30px;

    h1, h2, h3, h4, h5, h6, p {
      margin: 10px 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    h3 em {
      font-size: 14px;
    }

    .icon-client-1 {
      position: absolute;
      top: 0px;
      left: 00px;
    }

    .icon-client-2 {
      position: absolute;
      transform: rotateY(180deg);
      bottom: 0px;
      right: 0px;
    }
  }
}

.slick-track {
  height: 100% !important;
}

.slick-slide {
  max-height: 597px !important;
}

.title-reviews {
  padding-bottom: 60px;
}

.slider-reviews {
  .slick-prev {
    left: -132px;
  }

  .slick-next {
    right: -132px;
  }

  .slick-prev, .slick-next {
    top: 27%;
  }
}

.gift {
  padding-top: 18px;

  .main-title svg {
    margin-top: 16px;
  }
}

.gift-heart1 img, .gift-heart2 img {
  width: 50px;
}

.gift-title {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.gift-buy {
  display: flex;
  justify-content: center;
}

.wrap-gift-buy {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  background-color: #ff5757;
  color: #fff;
}

.menu {
  padding-bottom: 45px;
}

.error {
  font-size: 18px !important;
  transform: unset !important;
  margin-top: 7px;
  opacity: 0;
  display: none;
}

.wrap-menu {
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding-bottom: 15px;
}

.menu-column1 {
  font-size: 36px;
}

.wrap-menu-column2, .wrap-menu-column3 {
  display: block;
  padding: 9px 19px;
  font-size: 16.4px;
  border-radius: 19px;
  cursor: pointer;
}

.wrap-menu-column2, .wrap-menu-column3 {
  margin-bottom: 10px;
}

.scrollToTop {
  display: inline-block;
  margin: 0 auto;
  color: transparent;
  text-decoration: none;
  font-size: 40px;
  transform: translateX(6px);

  &:hover {
    color: transparent;
  }
}

.wrap-menu-column2:hover {
  color: transparent;
  text-decoration: none;
}

.menu-main-row h3, .form-top-title {
  text-align: center;
  font-size: 60px;
}

.wrap-menu-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.wrap-menu-main-parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  .menu-label-left {
    color: #991113;
    font-size: 24px;
    font-weight: bold;
  }

  .menu-label-right {
    color: #991113;
    font-size: 24px;
  }
}

.wrap-menu-title {
  .menu-label-left {
    color: #991113;
    font-size: 20px;
    font-weight: bold;
  }

  .menu-label-right {
    font-size: 20px;
    font-weight: 500;
  }
}

.wrap-menu-parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;

  .menu-label-left {
    flex: 0 1 75%;
  }

  .menu-label-right {
    font-size: 16px;
    font-weight: 400;
    flex: 0 1 25%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    text-transform: lowercase;
    padding-right: 25px;
    position: relative;

    &:before {
      position: absolute;
      content: '';
      width: 11px;
      height: 1px;
      background: black;
      top: 12px;
      right: 0px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 1px;
      height: 11px;
      background: black;
      top: 7px;
      right: 5px;
      transition: all .3s;
      transform: rotate(180deg);
    }

    &.active:after {
      transition: all .3s;
      transform: rotate(90deg);
    }
  }

  .menu-label-left {
    .menu-title-parent {
      font-size: 20px;
      margin: 0;
    }

    .menu-description-parent {
      font-size: 16px;
      margin-top: 15px;
      margin-left: 50px;
    }
  }
}

.hidden-child {
  display: none;
}

.wrap-menu-main {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 11px 64px 6px 112px;

  .menu-label-right {
    transform: translateX(65px);
  }
}

.menu-main .menu-main-row {
  margin-bottom: 7px;
}

.menu-main-title, .menu-label-right {
  font-size: 16px;
}

.menu-main-title {
  font-weight: 500;
}

.menu-main-desc {
  font-size: 14px;
  margin-left: 50px;
  margin-top: 14px;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 10px;
    left: -10px;
    width: 6px;
    height: 1px;
    background: #000000;
    transform: translateY(-50%);
  }
}

.wrap-form {
  padding-top: 50px;
  padding-bottom: 50px;

  .subtitle {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 6px;
  }
}

.menu-main-row {
  .subtitle {
    font-size: 16px;
    letter-spacing: 2px;
  }

  .content-menu-child {
    margin-top: -3px;
  }
}

.form-content {
  padding-top: 13px;
  padding-bottom: 21px;
  text-align: center;
  font-size: 16px;
  line-height: 29px;
}

.form-star {
  text-align: center;
  padding-bottom: 30px;

  img {
    width: 200px;
  }
}

.form-title {
  font-size: 28px;
  padding-bottom: 15px;
}

.red {
  color: red;
  font-size: 25px;
}

.wrap-input-form {
  width: 100%;
  margin-bottom: -18px;
}

.label-card {
  padding-bottom: 11.5px;
  font-size: 20px;
  font-weight: 500;
}

.wrap-input-form input {
  border: 1px solid #d6d4cd;
  border-radius: 6px;
  width: 100%;
  height: 33px;
  padding: 0 15px;
  background-color: transparent;
  font-size: 14px;
  color: black;
}

input:focus-visible, .wrap-input-message textarea:focus-visible {
  outline: 0;
}

.wrap-input-form {
  &.wrap-input-message {
    .label-card {
      font-size: 25px;
      padding-bottom: 4px;
    }

    textarea {
      padding: 7px;
    }
  }

  select {
    width: 100%;
    height: 40px;
    background: transparent;
    padding: 0 15px;
  }
}

.wrap-input-message textarea {
  border: 1px solid #d6d4cd;
  width: 100%;
  max-height: 70px;
  background: transparent;
  font-size: 14px;
  border-radius: 6px;

  &::placeholder {
    color: #cacaca;
    font-style: italic;
  }
}

.choose-number {
  font-weight: bold;
}

.wrap-button-number {
  display: flex;
  flex-wrap: wrap;
}

.choose-person {
  padding-bottom: 30px;
}

.choose-number {
  padding-bottom: 15px;
}

.wrap-button button {
  background: #000000;
  position: relative;
  color: #cfa560;
  padding: 9px 44px;
  border-radius: 17px;
  font-size: 16.4px;
  margin-top: 19px;
}

.submit {
  text-align: center;
}

.contact {
  background-color: #e5e2d6;
}

.wrap-contact {
  padding-top: 13px;

  .footer-menu {
    padding-left: 150px;

    .content-menu-footer {
      padding-top: 15px;

      ul li {
        margin-bottom: 24px;
      }
    }
  }
}

.list-time {
  padding-top: 16px;
  padding-left: 2px;
}

.wrap-contact-time {
  padding-left: 65px;
  padding-right: 22px;
}

.contact-call, .contact-address {
  display: flex;
  flex-direction: column;
}

.contact-time {
  display: flex;
  flex-direction: column;

  .list-time p span {
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.contact-call a, .contact-address a {
  font-weight: bold;
  font-size: 18px;
  background-color: #ff5757;
  padding: 10px;
  color: #fff;
}

.list-time {
  display: flex;
  flex-direction: column;
  padding-top: 17px;

  p {
    color: #fff;
    margin-bottom: 9px;
    font-size: 16px;
    position: relative;
  }
}

.contact-call p, .contact-address p {
  padding-top: 30px;
}

.address-title, .call-title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}

.nail {
  position: relative;
  margin-top: 40px;
  margin-bottom: 45px;
}

.nail-heart {
  position: absolute;
  bottom: -60%;
  left: -5%;
  z-index: 0;
}

.info-menu-app {
  position: fixed;
  bottom: 32px;
  right: 10px;
  z-index: 999;
  text-align: center;

  img {
    max-width: 90px;
    cursor: pointer;
  }
}

.popup {
  background: #000;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  display: none;
}

.box {
  width: 530px;
  height: 200px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 10px;
}

.show-popup {
  display: block;
}

.box-header {
  float: right;
}

.box-main {
  width: 100%;
  height: 100%;
}

.box-icon {
  margin: 0 15px;
  cursor: pointer;

  img {
    width: 50px;
    height: auto;
  }
}

.box-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrap-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    margin-left: 15px;
  }
}

.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
}

.modal-footer, .modal-header {
  text-align: center;
  border: 0;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.input-phone-popup input {
  width: 100%;
}

.box-report {
  display: none;
}

.box-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.box-content {
  padding: 0 15px;

  input, textarea {
    width: 100%;
    border: 1px solid #991113;
    padding: 5px;
    margin-bottom: 30px;
  }
}

.box-submit {
  text-align: center;
  padding-top: 5px;

  input {
    background-color: #991113;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
  }
}

.box-good {
  display: none;
}

.submit-good {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;

  button a {
    background-color: #39a766;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
  }
}

/* The container */

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
  position: relative;
  padding-left: 47px;
  margin-right: 130px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guest-item-title {
  padding-bottom: 16px;
  font-size: 25px;
  font-weight: 500;
}

.wrap-slots {
  display: flex;
}

.select2-selection__clear, .wrap-service-parent, .hidden {
  display: none;
}

.wrap-input-message textarea {
  padding: 15px;
}

.wrap-service-parent {
  padding-top: 2px;
}

/* Hide the browser's default checkbox */

.number input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #a8a6a6;
  transition: all .25s;
}

/* When the checkbox is checked, add a blue background */

//.number input:checked ~ .checkmark {
//  background-color: #008037;
//}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  position: absolute;
  //display: none;
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  top: 3px;
  left: 5px;
  display: none;
}

/* Show the checkmark when checked */

.number input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.over-hide {
  overflow: hidden;
}

[type="radio"] {
  &:checked, &:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.checkbox-budget {
  &:checked + label, &:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 3px 0;
    width: 47px;
    margin-right: 72px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all .3s;
    border: 1px solid #5b6a66;
  }

  &:checked + label {
    background-color: transparent;
  }

  &:not(:checked) + label:hover {
    background-image: url('../../img/icon-theme/bg-btn.png');
    background-size: cover;

    span {
      color: #ffffff;
    }
  }

  &:checked + label::before, &:not(:checked) + label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: -1;
  }

  &:checked + label span, &:not(:checked) + label span {
    position: relative;
    display: block;
  }

  &:checked + label span::before {
    position: absolute;
    content: attr(data-hover);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: white;
  }

  &:not(:checked) + label span::before {
    position: absolute;
    content: attr(data-hover);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    color: white;
    max-height: 0;
  }

  &:checked + label span::before {
    max-height: 100%;
  }
}

.input-menu input {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  padding: 0 15px;
}

.wrap-required {
  margin-bottom: 30px;
  display: none;
}

.title-required {
  font-weight: bold;
}

.service-content {
  padding-bottom: 14px;
}

.wrap-service-parent .wrap-service-child .error-checkbox {
  margin-top: 0;
  margin-bottom: 20px;
}

.select2-container--default .select2-selection--single {
  height: 33px !important;

  .select2-selection__rendered {
    line-height: 33px !important;
    font-size: 14px;
    color: black !important;
  }

  .select2-selection__arrow {
    height: 40px !important;
    top: 0 !important;
    display: none;
  }

  background-color: transparent !important;
  border: 1px solid #d6d4cd !important;
  border-radius: 6px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #008037 !important;
}

.wrap-form-card .wrap-form-card-box {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 30px;
  padding-bottom: 37px;
}

.select-nember {
  display: flex;
  flex-wrap: wrap;

  .item-slot:last-child .checkbox-budget {
    &:checked + label, &:not(:checked) + label {
      margin-right: 0;
    }
  }
}

.hidden {
  display: none;
}

.error-checkbox {
  font-size: 18px !important;
  transform: unset !important;
  margin-top: 7px;
  opacity: 0;
}

.menu-hide {
  display: none;
  transition: transform 500ms ease-in-out 25ms;
}

.welcome {
  margin-bottom: 53px;
  padding-top: 13px;

  .column-right {
    padding-right: 25px;

    .slick-dotted.slick-slider {
      margin-bottom: 0 !important;
    }

    .slider .slick-list {
      max-height: 414px;
    }
  }
}

.title-welcome-nail {
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0;
}

.content-welcome-nail {
  padding-bottom: 30px;
  font-size: 18px;
  text-align: center;

  p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.wrap-gift {
  display: flex;

  .image-gift {
    text-align: center;
    padding: 0 101px 0 15px;

    img {
      min-height: 385px;
      border-radius: 25px;
    }
  }
}

.slider-reviews {
  .slick-prev:before, .slick-next:before {
    font-size: 30px;
  }
}

.title-gift {
  padding-bottom: 9px;
  color: #275050;
  font-size: 30px;
}

.title-welcome-nail .main-title, .menu-main-row h3, .form-top-title {
  color: #275050;
  font-size: 30px;
}

.title-gift-card {
  font-size: 30px;
  color: #275050;
  font-weight: 500;
  margin-top: 58px;
  margin-bottom: 50px;
  width: calc(100% - 75px);
  text-align: center;

  .subtitle {
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 2px;
  }
}

.main-title {
  display: inline-block;
  font-weight: 500;
  position: relative;
  font-size: 30px;

  &:before {
    position: absolute;
    content: '';
    bottom: 7px;
    left: 0;
    width: calc(50% - 35px);
    height: 1px;
    background: red;
  }

  &:after {
    position: absolute;
    content: '';
    bottom: 7px;
    right: 0;
    width: calc(50% - 35px);
    height: 1px;
    background: red;
  }

  svg {
    display: block;
    width: 100%;
    margin-top: 13px;

    img {
      transform: translateX(2px);
    }
  }
}

.menu-main {
  padding-top: 33px;
}

.menu-right-more {
  cursor: pointer;
}

.title-contact, .title-menu-footer, .contact-time b:first-child {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
}

.content-menu-footer a {
  font-size: 22px;
}

.content-contact {
  padding-top: 16px;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 18px;
}

.google-map {
  margin-bottom: -5px;

  iframe {
    width: 100%;
    height: 560px;
  }
}

/* footer */

footer {
  background: #e2e2e2;
  color: #1a1a1a;

  a {
    color: #1a1a1a;

    &:hover {
      color: #1a1a1a;
    }
  }
}

.wrap-footer {
  padding: 14px 0;
  text-align: center;
  max-height: 50px;
}

.footer-row2 {
  transform: translateX(-13px);
  font-size: 16px;

  a {
    font-size: 16px;
  }
}

.footer-row-2 {
  display: flex;
  padding-bottom: 11px;
  justify-content: center;
  padding-top: 33px;
}

.footer-service {
  padding: 0 35px;
  margin-right: 24px;

  a {
    font-size: 16px;
  }
}

.wrap-number-of-guest {
  margin-bottom: 3px;

  .guest-title {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 16px;
  }
}

.service-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 6px;
}

.wrap-service-parent .wrap-service-child .error-checkbox {
  display: none;
}

.nail-address img {
  max-width: 32px;
  margin-right: 10px;
  transform: translateY(-3px);
}

.nail-call .nail-call-small img {
  max-width: 42px;
  margin-right: 9px;
}

.wrap-input-message .label-card {
  color: #275050;
}

.checkbox-budget:checked + label::before {
  background: url('../../img/icon-theme/bg-btn.png') no-repeat center center;
  background-size: cover;
}

.icon-client-1{

}

.icon-client-2{

}

@media (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (max-width: 1550px) {
  .list-time p, .contact-time .list-time p span, .content-menu-footer a {
    font-size: 24px;
  }

  .content-contact {
    font-size: 18px;
  }

  .footer-row-1 .footer-phone a {
    font-size: 24px;
  }

  .item-social-network a img {
    max-width: 48px;
  }

  .wrap-list-reviews {
    padding: 82px 0 75px;
  }

  .title-gift, .title-welcome-nail, .menu-main-row h3, .form-top-title {
    font-size: 50px;
  }

  .wrap-gift .image-gift img {
    transform: none;
  }

  .gift .col-md-4 {
    padding: 0 15px;
  }

  .nail .col-md-8 {
    width: 100%;
  }

  .nail-call > a {
    transform: translate(0px, 5px);
  }

  .wrap-menu-parent .menu-label-right {
    &:before {
      right: -27px;
    }

    &:after {
      right: -20px;
    }
  }
}

@media only screen and (max-width: 1350px) {
  .slider-reviews {
    max-width: 850px;
  }
}

@media only screen and (max-width: 1199px) {
  .header-list-menu li {
    padding: 0 20px;
  }

  .title-welcome-nail {
    padding-bottom: 25px;
  }

  .welcome {
    .col-md-3, .col-md-9 {
      width: 100%;
    }

    .col-md-3 {
      margin-bottom: 50px;
    }
  }

  .wrap-contact .contact-hours {
    padding-left: 0;
  }

  .footer-row-1 {
    align-items: end;
  }

  .list-time p, .contact-time .list-time p span, .content-menu-footer a {
    font-size: 22px;
  }

  .slider-reviews {
    .slick-next {
      right: -20px;
    }

    .slick-prev {
      left: -20px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrap-menu-parent {
    .menu-label-right {
      &:before, &:after {
        display: none;
      }
    }

    padding-right: 0;
  }

  .wrap-form {
    padding-top: 65px;
    padding-bottom: 75px;
  }

  .wrap-button button {
    margin-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .wrap-review, .buy-gift, .check-gift {
    font-size: 20px;
  }

  .slider-reviews {
    padding: 0;
  }

  .wrap-list-reviews {
    padding: 40px 15px 55px;
  }

  .title-gift {
    padding-bottom: 10px;
  }

  .wrap-gift {
    display: block;
  }

  .gift {
    .col-md-4 {
      margin-bottom: 50px;
      text-align: center;
      width: 100%;
    }

    .col-md-8 {
      width: 100%;
    }
  }

  .buy-gift, .check-gift {
    width: 300px;
    margin: 25px auto 40px;
  }

  .wrap-menu-title .menu-label-right {
    font-size: 36px;
  }

  .wrap-menu-parent {
    .menu-label-left .menu-title-parent {
      font-size: 36px;
    }

    .menu-label-right {
      font-size: 26px;
    }

    span {
      font-size: 32px;
    }

    .menu-label-right {
      &:before {
        top: 20px;
      }

      &:after {
        top: 13px;
      }
    }
  }

  .menu-main-title, .menu-label-right {
    font-size: 28px;
  }

  .menu-main-desc {
    font-size: 18px;
    margin-left: 35px;
    margin-top: 12px;
    line-height: 30px;
  }

  .wrap-menu-parent .menu-label-left .menu-description-parent {
    font-size: 18px;
    margin-left: 35px;
    line-height: 30px;
  }

  .wrap-form {
    padding-top: 55px;
    padding-bottom: 70px;
  }

  .wrap-button button {
    font-size: 22px;
  }

  .number {
    font-size: 30px;
  }

  .label-card, .service-title {
    font-size: 26px;
  }

  .wrap-number-of-guest .guest-title {
    font-size: 36px;
  }

  .checkbox-budget {
    &:checked + label, &:not(:checked) + label {
      margin-right: 40px;
    }
  }

  .slider-reviews .item-slider-reviews h3 em {
    font-size: 18px;
  }

  .nail-address a {
    font-size: 24px;
  }

  .nail-call {
    .nail-call-small a, > a {
      font-size: 24px;
    }
  }

  .title-gift, .title-welcome-nail, .menu-main-row h3, .form-top-title {
    font-size: 44px;
  }

  .contact-time .list-time p span {
    left: 75px;
    right: auto;
  }

  .footer-row2 {
    margin-left: 0;
    margin-bottom: 0;
  }

  .wrap-contact {
    .contact-hours, .footer-menu {
      padding-left: 15px;
    }
  }

  .content-contact {
    padding-bottom: 30px;
  }

  .wrap-contact {
    padding-top: 60px;
  }

  .footer-row-1 .footer-phone {
    img {
      margin-right: 10px;
    }

    a {
      transform: none;
    }
  }

  .content-welcome-nail p {
    font-size: 18px;
  }

  .wrap-menu-parent span {
    font-size: 26px;
  }

  .wrap-menu-title .menu-label-right {
    transform: none;
  }
}

@media only screen and (max-width: 959px) {
  .menu-main {
    padding-bottom: 25px;
  }

  .gift {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .wrap-list-reviews {
    padding: 40px 15px 105px;
  }

  .nail {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .nail-address img {
    max-width: 28px;
    transform: translateY(0);
  }

  .nail-call .nail-call-small img {
    max-width: 36px;
    transform: translateY(4px);
  }

  .wrap-menu-main {
    padding-left: 20px;
  }

  .wrap-menu-title .menu-label-right, .wrap-menu-parent .menu-label-left .menu-title-parent {
    font-size: 32px;
  }

  .menu-main-title, .menu-label-right {
    font-size: 24px;
  }

  .header-list-menu li {
    padding: 0 12px;
  }

  .google-map {
    iframe {
      height: 500px;
    }

    padding: 0;

    .col-md-12 {
      padding: 0;
    }

    .row {
      margin: 0;
    }

    margin-bottom: 55px;
  }

  .slick-next {
    right: 45% !important;
    margin-top: 30px;
  }

  .slick-prev {
    left: 45% !important;
    margin-top: 30px;
    top: 100% !important;
  }

  .slick-next {
    top: 100% !important;
  }

  .slick-prev, .slick-next {
    transform: translateX(-45%) !important;
  }
}

@media only screen and (max-width: 768px) {
  .footer-row2 {
    font-size: 18px;

    a {
      font-size: 18px;
    }
  }

  .scrollToTop {
    width: 70px;
    height: 70px;
  }

  .slick-next {
    right: 42% !important;
  }

  .slick-prev {
    left: 42% !important;
  }
}

@media only screen and (max-width: 767px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .wrap-button button {
    font-size: 18px;
    padding: 15px 65px;

    &:before {
      left: -85px;
      width: 70px;
    }

    &:after {
      right: -85px;
      width: 70px;
    }
  }

  .slick-next {
    right: 38% !important;
  }

  .slick-prev {
    left: 38% !important;
  }
}

@media only screen and (max-width: 480px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .wrap-menu-parent .menu-label-left .menu-description-parent {
    font-size: 16px;
    margin-left: 15px;
  }

  .slider-reviews .item-slider-reviews {
    .icon-client-1, .icon-client-2 {
      display: none;
    }
  }

  .wrap-menu-title .menu-label-right, .wrap-menu-parent .menu-label-left .menu-title-parent {
    font-size: 28px;
  }

  .menu-main-title, .menu-label-right {
    font-size: 22px;
  }

  .nail-call {
    flex-wrap: wrap;

    a {
      margin-top: 20px;
    }
  }

  .slider-reviews .item-slider-reviews {
    padding: 0;
  }

  .wrap-menu-parent .menu-label-right {
    font-size: 18px;
  }

  .wrap-menu-main {
    padding-left: 15px;
  }

  .menu-main-desc {
    font-size: 16px;
    margin-left: 15px;
  }

  .slider-reviews {
    padding: 0 !important;
  }

  .checkbox-budget {
    &:checked + label, &:not(:checked) + label {
      margin-right: 25px;
    }
  }

  footer {
    padding: 0 15px;
  }

  .wrap-button button {
    &:before, &:after {
      display: none;
    }
  }

  .social-network {
    padding: 12px 0 30px 0;
  }

  .footer-service {
    padding-left: 0;
    margin-left: -10px;
  }

  .footer-row-2 {
    justify-content: flex-start;
    padding-top: 0;
  }
}