.move {
    opacity: 0;
}
.move.is-animated {
    animation: move 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}
@keyframes move {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

