.mobile {
    display: none;
}

.pc {
    display: block;
}
  /* ==========================================================================
  Responsive CSS Landscape Tablet
  ========================================================================== */
  @media only screen and (min-width: 960px) and (max-width: 1240px) {
    
  }
    
  /* ==========================================================================
  Responsive CSS Portrait Tablet
  ========================================================================== */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 100%;
    }
    
    .info-menu-app,
            .menu,
            .menu-main,
            .form,
            .wrap-contact,
            .welcome,
            .gift {
                margin-left: 15px;
                margin-right: 15px;
            }

    .wrap-header a,
    .header-list-menu li a {
        font-size: 20px;
    }

    #video-youtube {
        height: 350px;
    }

    #google-map {
        height: 350px;
    }

    .slick-next {
        right: 0 !important;
    }

    .slick-prev {
        left: 0 !important;
    }


  }
    
  /* ==========================================================================
  Responsive CSS Landscape Mobile
  ========================================================================== */
  @media only screen and (min-width: 561px) and (max-width: 767px) {
    
  }
  
  /* ==========================================================================
  Responsive CSS Portrait Mobile
  ========================================================================== */
  @media only screen and (min-width: 100px) and (max-width: 560px) {
   
  }
  
  /* ==========================================================================
  Responsive CSS Mobile
  ========================================================================== */
  @media only screen and (min-width: 100px) and (max-width: 767px) {
    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }

    .main {
        padding-top: 67px;
    }

    .mobile-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 2;
        background-color: #991113;
        transition: transform 500ms ease-in-out 25ms;
    }
    
    .menu-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: #991113;
    }

    .menu-mobile img {
        width: 32px;
        height: auto;
    }

    .logo a {
        color: #fff;
        font-size: 32px;
        font-weight: bold;
    }

    .wrap-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }

    .header-list-menu{
        display: flex;
        flex-direction: column;
    }
    .header-list-menu li {
        padding: 15px 0;
    }

    .header-login {
        padding: 15px 0;
    }

    .not-showmenu {
        transform: translateX(-100%);
    }

    .menu-close {
        float: right;
        padding: 15px;
    }
    .menu-close img {
        width: 32px;
    }

    .nail-title {
        font-size: 38px;
    }

    /* .menu,
    .menu-main,
    .form,
    .wrap-contact,
    .welcome,
    .gift {
        margin-left: 15px;
        margin-right: 15px;
    } */

    .wrap-contact {
        margin-left: 15px;
        margin-right: 15px;
    }

    #video-youtube {
        height: 150px;
    }

    #google-map{
        height: 150px;
    }

    .wrap-contact,
    .wrap-gift,
    .welcome-nail  {
        flex-direction: column;
    }

    .contact-column6,
    .column-left {
        width: 100% !important;
        padding-right:0 !important;
        padding-bottom: 30px!important;
    }

    .contact-column4,
    .column-right {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .wrap-contact {
        flex-direction: column;
    }

    .contact-time b:first-child {
        text-align: unset;
    }
    .list-time {
        align-items: unset;
    }

    .contact-column1 {
        padding-bottom: 30px;
    }

    .contact-column2 {
        padding-bottom: 30px;
    }

    .contact-column3 {
        padding-bottom: 30px;
    }

    .contact-call p {
        padding-top: 20px;
    }

    .contact-address p {
        padding-top: 20px;
    }

    .address-title, .call-title {
        padding-bottom: 20px;
    }
    
    .list-time {
        padding-top: 20px
    }

    .menu-column1,
    .menu-column2,
    .menu-column3 {
        margin-bottom: 15px;
    }

    .menu-column2 .wrap-menu-column2 a {
        font-size: 14px;
    }

    .menu-column3 .wrap-menu-column3 a {
        font-size: 14px;
    }

    .nail-title,
    .nail-address,
    .nail-call,
    .nail-list-social,
    .nail-open-time,
    .info {
        z-index: 0;
    }

    .box {
        width: 100%;
    }

    .wrap-button-number {
        flex-wrap: wrap;
    }
    
    .box { 
        width: 100%;
    }
    
    .box-icon {
        margin: 0 10px;
    }

    .wrap-video iframe {
        height: 250px;
    }

    .wrap-list-reviews {
        padding: 30px 0;
    }
    
    .slick-next {
        right: 0 !important;
    }

    .slick-prev {
        left: 0 !important;
    }

    .title-reviews {
        padding: 0 15px;
    }

    .slider-reviews {
        padding: 0 30px;
    }

    .wrap-list-reviews {
        text-align: left;
    }

    .contact-time b:first-child,
    .title-contact,
    .menu-column1,
    .form-top-title,
    .title-gift,
    .title-welcome-nail {
        font-size: 28px;
    }

    .form-top-title {
        font-size: 24px;
    }
  }