* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

/*.container {*/
/*  padding: 0;*/
/*}*/

/*.row {*/
/*  margin: 0;*/
/*}*/

/*.col-md-12, .col-md-11,*/
/*.col-md-6, .col-md-10,*/
/*.col-md-4, .col-md-9,*/
/*.col-md-3, .col-md-8,*/
/*.col-md-2, .col-md-1,*/
/*.col-md-7, .col-md-5{*/
/*  padding: 0;*/
/*}*/

.mobile {
    display: none;
}

body { padding-right: 0 !important } 
.modal { padding-right: 0 !important }
.modal-open {overflow-y: scroll !important;}

p:last-child {
  margin-bottom: 0;
}

.header {
  background: url('../../assets/img/icon-theme/bg-header.png') no-repeat center center;
  background-size: cover;
}

.header-logo {
  padding: 20px 0 12px;
  display: flex;
  justify-content: center;
}

.wrap-header {
  display: flex;
  justify-content: center;
  padding: 15px 30px 25px;
}

.header-login a {
  font-size: 24px;
}

.wrap-header  a {
  color: #fff;
}

.main {
  position: relative;
}

.header-logo a {
  font-size: 36px;
  display: inline-block;
}

.header-logo a img {
  max-width: 230px;
  width: 100%;
} 

.header-list-menu {
  display: flex;
  margin-bottom: 0;
}

.header-list-menu li  {
  padding: 0 55px;
}
.header-list-menu li a {
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

/* body */
.item-slide img {
  width: 100%;
}

.slick-dots {
  bottom: 25px !important;
}

.nail-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}

.nail-address {
  padding-bottom: 33px;
  position: relative;
  z-index: 1;
}

.nail-address a {
  font-size: 32px;
  position: relative;
  letter-spacing: 2px;
}

.nail-address a:hover,
.nail-address a:focus{
  text-decoration: none;
}

.nail-call {
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  display: flex;
}
.nail-call .nail-call-small a {
  font-size: 32px;
  line-height: 34px;
  transform: translateY(5px);
  display: inline-block;
  text-decoration: unset;
  position: relative;
}
.nail-call > a {
  font-size: 28px;
  margin-left: 70px;
}

.social-network {
  display: flex;
  justify-content: center;
  padding: 12px 0 15px 0;
  transform: translateY(10px);
}

.item-social-network {
  margin: 0 6px;
}

.item-social-network a img {
  max-width: 50px;
  width: 100%;
}

.item-social-network:first-child {
  margin-left: 0;
}

.nail-list-social {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
    z-index: 1;
}

.item-social {
  padding: 0 10px;
}

.nail-social-network {
  padding-bottom: 30px;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}

.info .item-info {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #008037;
  border-radius: 5px;
}

.info .item-info a {
  color: #fff;
  font-weight: bold;

}

.content-frame {
  text-align: center;
}

.rating-content {
  text-align: center;
  padding: 0 15px 15px 15px;
}

.rating-review {
  display: flex;
  margin-bottom: 30px;
}

.gift .col-md-4{
  padding: 28px 15px 0;
}

.wrap-review {
  width: 100%;
}

.buy-gift,
.check-gift {
  width: calc(100% - 75px);
}

.slick-dots li button:before {
  opacity: .75 !important;
  color: transparent !important;
  background: black !important;
  border-radius: 50%;
  width: 25px !important;
  height: 25px !important;
}

.slick-dots li button {
  width: 25px !important;
  height: 25px !important;
}

.slick-dots li {
  width: 25px !important;
  height: 25px !important;
  margin: 0 10px !important;
}

.slider .slick-dots {
  bottom: 39px !important;
}

.wrap-review,
.buy-gift,
.check-gift{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background: url('../../assets/img/icon-theme/bg-btn.png') no-repeat center center;
  background-size: cover;
  color: #cfa560;
  border-radius: 18px;
  font-size: 29px;
  padding: 9px 0;
}

.buy-gift {
  margin-top: 25px;
  margin-bottom: 40px;
}

.wrap-video {
  max-width: 960px;
  margin: auto;
  padding-bottom: 30px;
}

.video {
  margin-bottom: 30px;
}

#video-youtube {
  height: 670px;
}

.wrap-video iframe {
  width: 100%;
  height: 450px;
}

.star {
  width: 200px;
  margin: auto;
  padding-bottom: 45px;
}

/* reviews */
.list-reviews {
  margin-bottom: 30px;
}
.wrap-list-reviews {
  text-align: center;
  padding: 142px 0 135px;
}

.slider-reviews {
  padding: 0 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.slider-reviews .item-slider-reviews{
  position: relative;
  padding: 0 30px;
}

.slider-reviews .item-slider-reviews h1,
.slider-reviews .item-slider-reviews h2,
.slider-reviews .item-slider-reviews h3,
.slider-reviews .item-slider-reviews h4,
.slider-reviews .item-slider-reviews h5,
.slider-reviews .item-slider-reviews h6,
.slider-reviews .item-slider-reviews p {
  margin: 10px 0;
}

.slider-reviews .item-slider-reviews h3 em{
  font-size: 18px;
}

.slider-reviews .item-slider-reviews .icon-client-1 {
  position: absolute;
  top: 0px;
  left: 00px;
}

.slider-reviews .item-slider-reviews .icon-client-2 {
  position: absolute;
  transform: rotateY(180deg);
  bottom: 0px;
  right: 0px;
}

.slick-track {
  height: 100% !important;
}

.slick-slide {
  max-height: 597px !important;
}

.title-reviews {
  padding-bottom: 60px;
}

.slick-prev:before {
  background-image: url('../../assets/img/icon/left-arrow.png');
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content:"";
  color: transparent !important;
}

.slick-next:before {
  background-image: url('../../assets/img/icon/right-arrow.png');
  background-size: 30px 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content:"";
  color: transparent !important;;
}

.slick-prev,
.slick-next {
  transform: rotate(-90deg) !important;
}

.slider-reviews .slick-prev {
  left: -50px;
}

.slider-reviews .slick-next {
  right: -50px;
}

.gift {
  padding-top: 50px;
  padding-bottom: 100px;
}

.gift-heart1 img {
  width: 50px;
}

.gift-heart2 img {
  width: 50px;
}

.gift-title {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.gift-buy {
  display: flex;
  justify-content: center;
}

.wrap-gift-buy {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  background-color: #ff5757;
  color: #fff;
}

.menu {
  padding-bottom: 45px;
}

.error {
  font-size: 18px !important;
  transform: unset !important;
  margin-top: 7px;
  opacity: 0;
}

.wrap-menu {
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding-bottom: 15px;
}

.menu-column1 {
  font-size: 36px;
}

.wrap-menu-column2,
.wrap-menu-column3 {
  display: block;
  padding: 10px 34px;
  font-size: 28px;
  border-radius: 12px;
  cursor: pointer;
  letter-spacing: 2px;
}
.wrap-menu-column2 {
  margin-bottom: 25px;
}

.wrap-menu-column3 {
  margin-bottom: 10px;
}


.scrollToTop {
  background: url(../../assets/img/icon-theme/pagetop.png) no-repeat center center;
  background-size: cover;
  width: 116px;
  height: 116px;
  display: block;
  margin: 0 auto;
  color: transparent;
  text-decoration: none;
  transform: translateY(15px);
}

.scrollToTop:hover,
.wrap-menu-column2:hover {
  color: transparent;
}

.wrap-menu-column2:hover {
  text-decoration: none;
}

.menu-main-row h3,
.form-top-title {
  text-align: center;
  font-size: 60px;
}

.form-top-title {
  margin-left: 18px;
}

.wrap-menu-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.wrap-menu-main-parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.wrap-menu-main-parent .menu-label-left {
  color: #991113;
  font-size: 24px;
  font-weight: bold;
}

.wrap-menu-main-parent .menu-label-right {
  color: #991113;
  font-size: 24px;
}

.wrap-menu-title  .menu-label-left {
  color: #991113;
  font-size: 20px;
  font-weight: bold;
}

.wrap-menu-title .menu-label-right {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color: #0e274c;
  transform: translate(-38px, -15px);
  font-weight: 300;
}

.wrap-menu-parent {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 45px;
}

.wrap-menu-parent span {
  font-size: 30px;
}

.wrap-menu-parent .menu-label-left {
  flex: 0 1 75%;
}

.wrap-menu-parent .menu-label-right  {
  font-size: 28px;
  font-weight: 400;
  flex: 0 1 25%;
  margin-top: 5px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  text-transform: lowercase;
  margin-right: 7px;
  position: relative;
}

.wrap-menu-parent .menu-label-right:before{
  position: absolute;
  content: '';
  width: 16px;
  height: 1px;
  background: black;
  top: 22.5px;
  right: -41px;
}

.wrap-menu-parent .menu-label-right:after{
  position: absolute;
  content: '';
  width: 1px;
  height: 16px;
  background: black;
  top: 15px;
  right: -34px;
  transition: all .3s;
  transform: rotate(180deg);
}

.wrap-menu-parent .menu-label-right.active:after {
  transition: all .3s;
  transform: rotate(90deg);
}

.wrap-menu-parent .menu-label-left .menu-title-parent {
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}

.wrap-menu-parent .menu-label-left .menu-description-parent {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 50px;
}

.hidden-child {
  display: none;
}

.wrap-menu-main {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  padding-bottom: 38px;
}

.wrap-menu-main .menu-label-right {
  transform: translateX(55px);
}

.menu-main-title,
.menu-label-right {
  font-size: 28px;
}

.menu-main-desc {
  font-size: 20px;
  margin-left: 50px;
  margin-top: 7px;
}

.wrap-form {
  padding-top: 102px;
  padding-bottom: 103px;
}

.menu-main-row .content-menu-child {
  margin-top: -3px;
}

.form-content {
  padding-bottom: 48px;
  text-align: center;
  font-size: 20px;
  line-height: 39px;
}

.form-star {
  text-align: center;
  padding-bottom: 30px;
}

.form-star img {
  width: 200px;
}

.form-title {
  font-size: 28px;
  padding-bottom: 15px;
}

.red {
  color: red;
  font-size: 30px;
  transform: translate(3px,2px);
  display: inline-block;
}

.wrap-input-form {
  width: 100%;
  margin-bottom: 15px;
}

.label-card {
  padding-bottom: 11.5px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.wrap-input-form input {
  border: 1px solid #d6d4cd;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  font-size: 22px;
  color: black;
}
input:focus-visible,
.wrap-input-message textarea:focus-visible{
  outline: 0;
}

.wrap-input-form select {
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 0 15px;
}

.wrap-input-message textarea {
  border: 1px solid #d6d4cd;
  width: 100%;
  max-height: 140px;
  background: transparent;
  font-size: 22px;
}

.choose-number {
  font-weight: bold;
}

.wrap-button-number {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.choose-person {
  padding-bottom: 30px;
}

.choose-number {
  padding-bottom: 15px;
}

.wrap-button button {
  background: url('../../assets/img/icon-theme/bg-btn.png') no-repeat center center;
  background-size: cover;
  position: relative;
  color: #cfa560;
  padding: 18px 89px;
  border-radius: 15px;
  font-size: 26px;
  text-transform: uppercase;
  transform: translateX(8px);
  margin-top: 22px;
}

.wrap-button button:before {
  position: absolute;
  content: '';
  background: url('../../assets/img/icon-theme/icon-submit.png') no-repeat;
  width: 98px;
  top: 50%;
  left: -130px;
  height: 16px;
  transform: translateY(-50%);
}

.wrap-button button:after {
  position: absolute;
  content: '';
  background: url('../../assets/img/icon-theme/icon-submit.png') no-repeat;
  width: 98px;
  top: 50%;
  right: -130px;
  height: 16px;
  transform: translateY(-50%) rotate(180deg);
}

.submit {
  text-align: center;
}

.contact {
  background-color: #e5e2d6;
}

.wrap-contact {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
}

.wrap-contact .footer-menu {
  padding-left: 60px;
}

.wrap-contact .footer-menu .content-menu-footer {
  padding-top: 32px;
}

.wrap-contact .footer-menu .content-menu-footer ul li {
  margin-bottom: 30px;
}

.contact-call,
.contact-address,
.contact-time {
  display: flex;
  flex-direction: column;
}

.contact-time .list-time p span {
  font-size: 26px;
  position: absolute;
  top: 0;
  right: 0;
}

.contact-call a {
  font-weight: bold;
  font-size: 18px;
  background-color: #ff5757;
  padding: 10px;
  color: #fff;
}

.contact-address a {
  font-weight: bold;
  font-size: 18px;
  background-color: #ff5757;
  padding: 10px;
  color: #fff;
}

.list-time {
  display: flex;
  flex-direction: column;
}

.list-time p {
  color: #fff;
  margin-bottom: 5px;
  font-size: 26px;
  position: relative;
}

.contact-call p {
  padding-top: 30px;
}

.contact-address p {
  padding-top: 30px;
}

.list-time {
  padding-top: 30px;
}

.address-title,
.call-title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}

.nail {
  position: relative;
  margin-top: 78px;
  margin-bottom: 45px;
}

.nail-heart {
  position: absolute;
  bottom: -60%;
  left: -5%;
  z-index: 0;
}

.info-menu-app {
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 999;
  text-align: center;
}

.info-menu-app img {
  max-width: 90px;
  cursor: pointer;
}

.popup {
   background: #000;
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: 3;
   display: none;
}

.box {
   width: 530px;
   height: 200px;
   background-color: #fff;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   border-radius: 10px;
}

.show-popup {
   display: block;
}

.box-header {
   float: right;
}

.box-main {
   width: 100%;
   height: 100%;
}

.box-icon {
   margin: 0 15px;
   cursor: pointer;
}

.box-icon img {
   width: 50px;
   height: auto;
}

.box-list-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.wrap-box {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.wrap-box label {
	margin-left: 15px;
}

.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -45%);
}

.modal-footer,
.modal-header {
  text-align: center;
  border: 0;
}

.modal-title,
.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.input-phone-popup input {
  width: 100%;
}

.box-report {
   display: none;
}

.box-title {
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   padding-bottom: 30px;
   padding-left: 15px;
   padding-right: 15px;
}

.box-content {
   padding: 0 15px;
}

.box-content input,
.box-content textarea {
   width: 100%;
   border: 1px solid #991113;
   padding: 5px;
	margin-bottom:30px;
}

.box-submit {
   text-align: center;
   padding-top: 5px;
}

.box-submit input {
   background-color: #991113;
   color: #fff;
   padding: 10px;
   border-radius: 10px;
}

.box-good {
   display: none;
}

.submit-good {
   text-align: center;
   padding-top: 5px;
   padding-bottom: 15px;
}

.submit-good button a {
   background-color: #39a766;
   color: #fff;
   padding: 10px;
   border-radius: 10px;
}

/* The container */
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  padding-left: 80px;
  margin-right: 130px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.guest-item-title {
  padding-bottom: 10px;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}

.guest-item-title .guest-item-number {
  font-size: 45px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.guest-item-title .red {
  font-size: 42px;
}

.wrap-slots {
  display: flex;
}

.select2-selection__clear {
  display: none;
}

.wrap-service-parent {
  display: none;
}

.hidden {
  display: none;
}

.wrap-input-message textarea {
  padding: 15px;
}

.wrap-service-parent {
  padding: 10px 0;
}

.wrap-service-item {
  margin: 36px 0 30px;
}

/* Hide the browser's default checkbox */
.number input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border: 1px solid #a8a6a6;
  transition: all .25s;
}

/* When the checkbox is checked, add a blue background */
.number input:checked ~ .checkmark {
  background-color: #008037;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.number input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.number .checkmark:after {
  position: absolute;
  content: '';
  background: url('../../assets/img/icon-theme/icon-check.png') no-repeat;
  width: 60px;
  height: 60px;
  top: -6px;
  left: 4px;
}

.over-hide {
  overflow: hidden;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 12.5px 0;
  width: 100px;
  margin-right: 48.8px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid #5b6a66;
}

.checkbox-budget:checked + label {
  background-color: transparent;
}

.checkbox-budget:not(:checked) + label:hover {
  background-image: url('../../assets/img/icon-theme/bg-btn.png');
  background-size: cover;
}

.checkbox-budget:not(:checked) + label:hover span {
  color: #ffffff;
}

.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
}

.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span {
  position: relative;
  display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before {
  position: absolute;
  content: attr(data-hover);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: white;
}
.checkbox-budget:not(:checked) + label span::before {
  max-height: 0;
}
.checkbox-budget:checked + label span::before {
  max-height: 100%;
}

.calendar {
  width: 43px;
  margin-top: -45px;
  margin-right: 6px;
  float: right;
}

.input-menu input {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  padding: 0 15px;
}

.wrap-required {
  margin-bottom: 30px;
  display: none;
}

.title-required {
  font-weight: bold;
}

.service-content {
  padding-bottom: 14px;
}

.wrap-service-parent .wrap-service-child .error-checkbox {
  margin-top: -30px;
  margin-bottom: 20px;
}

.select2-container--default .select2-selection--single {
  height: 50px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px !important;
  font-size: 22px;
  color: black !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
  top: 0 !important;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border: 1px solid #d6d4cd !important;
  border-radius: 0px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #008037 !important;
}

.select-nember {
  display: flex;
  flex-wrap: wrap;
}

.select-nember .item-slot:last-child .checkbox-budget:checked + label,
.select-nember .item-slot:last-child .checkbox-budget:not(:checked) + label{
  margin-right: 0;
}

.hidden {
  display: none;
}

.error-checkbox {
  font-size: 18px !important;
  transform: unset !important;
  margin-top: 7px;
  opacity: 0;
}

.menu-hide {
  display: none;
  transition: transform 500ms ease-in-out 25ms;
}


.welcome {
  margin-bottom: 75px;
  padding-top: 35px;
}

.welcome .col-md-3 {
  width: 28%;
}

.welcome .col-md-9 {
  width: 72%;
}

.title-welcome-nail {
  padding-bottom: 20px;
  text-align: center;
  margin-top: 0;
}

.content-welcome-nail {
  padding-bottom: 30px;
  font-size: 18px;
  text-align: center;
}

.content-welcome-nail p {
  font-size: 20px;
  margin-bottom: 30px;
}

.content-welcome-nail p:last-child {
  margin-bottom: 0px;
}

.wrap-gift {
  display: flex;
}

.wrap-gift .image-gift {
  text-align: center;
  padding: 0 105px 0 95px;
}

.wrap-gift .image-gift img {
  min-height: 385px;
  border-radius: 36px;
}

.title-gift {
  padding-bottom: 48px;
}

.title-gift,
.title-welcome-nail,
.menu-main-row h3,
.form-top-title {
  color: #275050;
  font-weight: 400;
  font-size: 54px;
  letter-spacing: 2px;
}

.title-gift-card {
  font-size: 43px;
  color: #275050;
  font-weight: 400;
  margin-left: 5px;
  letter-spacing: 2px;
  margin-top: 15px;
}

.content-gift {
  padding-bottom: 15px;
  font-size: 24px;
  position: relative;
  display: inline-block;
  margin-bottom: 13px;
  letter-spacing: 3px;
  margin-left: 5px;
}

.content-gift:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: url('../../assets/img/icon-theme/line-2.png') no-repeat;
  background-size: cover;
}

.menu-main {
  padding-top: 33px;
  padding-bottom: 64px;
}

.menu-right-more {
  cursor: pointer;
}

.title-contact,
.title-menu-footer,
.contact-time b:first-child {
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-weight: 400;
}

.content-menu-footer a{
  font-size: 26px;
  text-transform: uppercase;
}

.content-contact {
  padding-top: 30px;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.google-map {
  margin-bottom: 90px;
}

.google-map iframe {
  width: 100%;
  height: 800px;
}

/* footer */
footer {
  background: url('../../assets/img/icon-theme/bg-footer.png') no-repeat center center;
  background-size: cover;
  color: #fff;
}

.wrap-footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.footer-row2 {
  font-size: 20px;
  margin-left: 18px;
  margin-bottom: 16px;
  letter-spacing: 0.1px;
}

.footer-row2 a {
  font-size: 21px;
}

.footer-row-1,
.footer-row-2 {
  display: flex;
  padding-bottom: 30px;
}

.footer-row-1 {
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.footer-row-1 .footer-phone a {
  font-size: 28px;
  transform: translateX(10px);
  display: inline-block;
}

.footer-row-1 .footer-phone img {
  max-width: 36px;
  transform: translateY(-8px);
}

.footer-row-2 {
  justify-content: center;
  padding-top: 38px;
}

.footer-service {
  padding: 0 20px 30px;
  transform: translateX(10px);
}

.footer-service a {
  font-size: 25px;
}

.wrap-number-of-guest {
  margin-bottom: 3px;
}

.wrap-number-of-guest .guest-title {
  font-size: 40px;
  padding-bottom: 29px;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.service-title {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.wrap-number-of-guest .guest-title .red {
  font-size: 42px;
}

.wrap-data-ajax {
  margin-top: -10px;
}

.wrap-service-parent .wrap-service-child .error-checkbox {
  display: none;
}

.nail-address img {
  max-width: 32px;
  margin-right: 10px;
  transform: translateY(-3px);
}

.nail-address a:before,
.nail-call-small .telephone:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: url("../../assets/img/icon-theme/line-1.png");
  bottom: -10px;
  left: 0;
}

.nail-call .nail-call-small img {
  max-width: 42px;
  margin-right: 9px;
}

.wrap-input-message .label-card {
  color: #275050;
}

.checkbox-budget:checked + label::before {
  background: url('../../assets/img/icon-theme/bg-btn.png') no-repeat center center;
  background-size: cover;
}

@media (min-width: 1440px) {
  .container {
    width: 1200px;
  }
}

@media only screen and (max-width: 1550px) {
  .list-time p,
  .contact-time .list-time p span,
  .content-menu-footer a {
    font-size: 24px;
  }
  .content-contact {
    font-size: 18px;
  }
  .footer-row-1 .footer-phone a {
    font-size: 24px;
  }
  .item-social-network a img {
    max-width: 48px;
  }
  .wrap-list-reviews {
    padding: 82px 0 75px;
  }
  .title-gift, .title-welcome-nail, .menu-main-row h3, .form-top-title {
    font-size: 50px;
  }
  .wrap-gift .image-gift img {
    transform: none;
  }
  .gift .col-md-4 {
    padding: 0 15px;
  }
  .nail .col-md-8 {
    width: 100%;
  }

  .nail-call > a {
    transform: translate(0px, 5px);
  }

  .wrap-menu-parent .menu-label-right:before {
    right: -27px;
  }

  .wrap-menu-parent .menu-label-right:after {
    right: -20px;
  }
}

@media only screen and (max-width: 1350px) {
  .slider-reviews {
    max-width: 850px;
  }

  .nail-address a,
  .nail-call .nail-call-small a {
    font-size: 28px;
  }
  .nail-call > a {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1199px) {
  .header-list-menu li {
    padding: 0 20px;
  }

  .title-welcome-nail {
    padding-bottom: 25px;
  }

  .welcome .col-md-3,
  .welcome .col-md-9 {
    width: 100%;
  }

  .welcome .col-md-3 {
    margin-bottom: 50px;
  }

  .wrap-review {
    width: 300px;
    margin: 0 auto;
  }

  .wrap-contact .footer-menu {
    padding-left: 50px;
  }

  .wrap-contact .contact-hours {
    padding-left: 0;
  }

  .footer-row-1 {
    align-items: end;
  }

  .list-time p, .contact-time .list-time p span, .content-menu-footer a {
    font-size: 22px;
  }

  .slider-reviews .slick-next {
    right: -20px;
  }

  .slider-reviews .slick-prev {
    left: -20px;
  }
}

@media only screen and (max-width: 1024px) {
  .wrap-menu-parent .menu-label-right:before,
  .wrap-menu-parent .menu-label-right:after {
    display: none;
  }
  .wrap-menu-parent {
    padding-right: 0;
  }
  .wrap-form{
    padding-top: 65px;
    padding-bottom: 75px;
  }
  .wrap-button button {
    margin-top: 0;
  }
}

@media only screen and (max-width: 991px) {
  .wrap-review, .buy-gift, .check-gift {
    font-size: 20px;
  }
  .slider-reviews {
    padding: 0;
  }

  .wrap-list-reviews {
    padding: 40px 15px 55px;
  }

  .title-gift {
    padding-bottom: 10px;
  }

  .wrap-gift {
    display: block;
  }

  .gift .col-md-4 {
    margin-bottom: 50px;
    text-align: center;
  }

  .gift .col-md-4,
  .gift .col-md-8 {
    width: 100%;
  }

  .buy-gift, .check-gift {
    width: 300px;
    margin: 25px auto 40px;
  }

  .content-gift:before {
    width: 240px;
    left: auto;
  }

  .wrap-menu-title .menu-label-right,
  .wrap-menu-parent .menu-label-left .menu-title-parent {
    font-size: 36px;
  }

  .wrap-menu-parent .menu-label-right {
    font-size: 26px;
  }

  .wrap-menu-parent span {
    font-size: 32px;
  }

  .wrap-menu-parent .menu-label-right:before {
    top: 20px;
  }

  .wrap-menu-parent .menu-label-right:after {
    top: 13px;
  }

  .menu-main-title, .menu-label-right {
    font-size: 28px;
  }

  .menu-main-desc {
    font-size: 18px;
    margin-left: 35px;
    margin-top: 12px;
    line-height: 30px;
  }

  .wrap-menu-parent .menu-label-left .menu-description-parent {
    font-size: 18px;
    margin-left: 35px;
    line-height: 30px;
  }

  .wrap-form {
    padding-top: 55px;
    padding-bottom: 70px;
  }

  .wrap-button button {
    font-size: 22px;
  }

  .number {
    font-size: 30px;
  }

  .label-card,
  .service-title {
    font-size: 26px;
  }

  .wrap-number-of-guest .guest-title {
    font-size: 36px;
  }

  .checkbox-budget:checked + label,
  .checkbox-budget:not(:checked) + label {
    margin-right: 40px;
  }

  .slider-reviews .item-slider-reviews h3 em {
    font-size: 18px;
  }

  .nail-address a,
  .nail-call .nail-call-small a,
  .nail-call > a {
    font-size: 24px;
  }

  .title-gift, .title-welcome-nail, .menu-main-row h3, .form-top-title {
    font-size: 44px;
  }

  .contact-time .list-time p span {
    left: 75px;
    right: auto;
  }

  .footer-row2 {
    margin-left: 0;
    margin-bottom: 0;
  }

  .wrap-contact .contact-hours,
  .wrap-contact .footer-menu {
    padding-left: 15px;
  }

  .content-contact {
    padding-bottom: 30px;
  }

  .wrap-contact {
    padding-top: 60px;
  }

  .footer-row-1 .footer-phone img {
    margin-right: 10px;
  }

  .footer-row-1 .footer-phone a {
    transform: none;
  }

  .content-welcome-nail p {
    font-size: 18px;
  }

  .wrap-menu-parent span {
    font-size: 26px;
  }
  .wrap-menu-title .menu-label-right {
    transform: none;
  }
  .form-top-title {
    margin-left: 0;
  }
}

@media only screen and (max-width: 959px) {
  .header-logo a img {
    max-width: 170px;
    width: 100%;
  }
  .menu-main {
    padding-bottom: 25px;
  }

  .gift {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .wrap-list-reviews {
    padding: 40px 15px 105px;
  }

  .nail {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .nail-address img {
    max-width: 28px;
    transform: translateY(0);
  }

  .nail-call .nail-call-small img {
    max-width: 36px;
    transform: translateY(4px);
  }

  .wrap-menu-main {
    padding-left: 20px;
  }

  .wrap-menu-title .menu-label-right, .wrap-menu-parent .menu-label-left .menu-title-parent {
    font-size: 32px;
  }

  .menu-main-title, .menu-label-right {
    font-size: 24px;
  }

  .form-content {
    font-size: 18px;
  }

  .header-list-menu li {
    padding: 0 12px;
  }

  .wrap-footer {
    padding-top: 0;
  }

  .google-map iframe {
    height: 500px;
  }

  .google-map,
  .google-map .col-md-12 {
    padding: 0;
  }
  .google-map .row {
    margin: 0;
  }

  .google-map {
    margin-bottom: 55px;
  }

  .slick-next {
    right: 45% !important;
    margin-top: 30px;
  }

  .slick-prev {
    left: 45% !important;
    margin-top: 30px;
  }

  .slick-prev, .slick-next {
    top: 100% !important;
  }

  .slick-prev, .slick-next {
    transform: translateX(-45%) !important;
  }
}

@media only screen and (max-width: 768px) {
  .footer-row2,
  .footer-row2 a {
    font-size: 18px;
  }
  .wrap-menu-column2, .wrap-menu-column3 {
    font-size: 16px;
  }
  .scrollToTop {
    width: 70px;
    height: 70px;
  }
  .slick-next {
    right: 42% !important;
  }

  .slick-prev {
    left: 42% !important;
  }
}

@media only screen and (max-width: 767px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .wrap-button button {
    font-size: 18px;
    padding: 15px 65px;
  }
  .wrap-button button:before {
    left: -85px;
    width: 70px;
  }
  .wrap-button button:after {
    right: -85px;
    width: 70px;
  }
  .slick-next {
    right: 38% !important;
  }

  .slick-prev {
    left: 38% !important;
  }
}

@media only screen and (max-width: 480px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .wrap-menu-parent .menu-label-left .menu-description-parent {
    font-size: 16px;
    margin-left: 15px;
  }
  .slider-reviews .item-slider-reviews .icon-client-1,
  .slider-reviews .item-slider-reviews .icon-client-2 {
    display: none;
  }
  .wrap-menu-title .menu-label-right, .wrap-menu-parent .menu-label-left .menu-title-parent {
    font-size: 28px;
  }
  .menu-main-title, .menu-label-right {
    font-size: 22px;
  }
  .nail-call {
    flex-wrap: wrap;
  }
  .nail-call a {
    margin-top: 20px;
  }
  .slider-reviews .item-slider-reviews {
    padding: 0;
  }
  .wrap-menu-parent .menu-label-right {
    font-size: 18px;
  }
  .wrap-menu-main {
    padding-left: 15px;
  }
  .menu-main-desc {
    font-size: 16px;
    margin-left: 15px;
  }
  .slider-reviews {
    padding: 0 !important;
  }
  .checkbox-budget:checked + label, .checkbox-budget:not(:checked) + label {
    margin-right: 25px;
  }
  footer {
    padding: 0 15px;
  }
  .wrap-button button:before,
  .wrap-button button:after {
    display: none;
  }
  .footer-row-1, .footer-row-2 {
    flex-wrap: wrap;
  }
  .social-network {
    padding: 12px 0 30px 0;
  }
  .footer-service {
    padding-left: 0;
    margin-left: -10px;
  }
  .footer-row-2 {
    justify-content: flex-start;
    padding-top: 0;
  }
}