@charset "utf-8";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  border: 0;
  margin: 0;
  vertical-align: top;
  width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

input[type="submit"],
input[type="text"],
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  border: 0;
}

input {
  border-radius: 0;
}

input[type="button"] {
  -webkit-appearance: none;
}

::placeholder {
  color: #000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}


textarea {
  resize: vertical;
}

button {
  border: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

*, html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: OpenSans-Medium;
}


.container {
  max-width: 1400px;
  margin: auto;
}

.mobile {
    display: none;
}

body {
  background-color: #f6f1ea;
  padding-right: 0 !important;
}
.wrap-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.header-login a {
  font-size: 24px;
}

.wrap-header {
  padding: 15px 30px;
}

.wrap-header  a {
  color: #fff;
}

.header-logo a {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
  display: flex;
}

.header-logo a img {
  width: 280px;
  height: auto;
} 

.header-list-menu {
  display: flex;
}

.header-list-menu li  {
  padding: 0 15px;
}
.header-list-menu li a {
  font-size: 24px;
}

/* body */
.item-slide img {
  width: 100%;
}

.slick-dots {
  bottom: 25px !important;
}

.nail-title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 15px;
  position: relative;
  z-index: 1;
}

.nail-address {
  text-align: center;
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
    z-index: 1;
}

.nail-call {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}

.nail-call a {
  font-size: 18px;
}

.social-network {
  display: flex;
  justify-content: center;
  padding: 12px 0 15px 0;
}

.item-social-network {
  margin: 0 10px;
}

.item-social-network a img {
  width: 30px;
  height: auto;
}

.nail-list-social {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
    z-index: 1;
}

.item-social {
  padding: 0 10px;
}

.nail-social-network {
  padding-bottom: 30px;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}

.info .item-info {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #008037;
  border-radius: 5px;
}

.info .item-info a {
  color: #fff;
  font-weight: bold;

}

.nail-open-time {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
    z-index: 1;
}

.nail-open-time a {
  color: #018137;
  text-decoration: underline;
}

.wrap-welcome {
  position: relative;
  max-width: 960px;
  margin: auto;
  margin-bottom: 30px;
}

.content-frame {
  text-align: center;
}

.rating-content {
  text-align: center;
  padding: 0 15px 15px 15px;
}

.rating-review {
  display: flex;
  margin-bottom: 30px;
}

.wrap-review {
  width: 200px;
  height: 50px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background-color: #008037;
  color: #fff;
  border-radius: 5px;
}

.wrap-video {
  max-width: 960px;
  margin: auto;
  padding-bottom: 30px;
}

.video {
  margin-bottom: 30px;
}

#video-youtube {
  height: 670px;
}

.wrap-video iframe {
  width: 100%;
  height: 450px;
}

.star {
  width: 200px;
  margin: auto;
  padding-bottom: 45px;
}

/* reviews */
.list-reviews {
  background-color: #eefce8;
  margin-bottom: 30px;
}
.wrap-list-reviews {
  max-width: 960px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.slider-reviews {
  padding: 0 60px;
}

.slider-reviews .slick-list {
  height: 30vh !important;
}

.slick-track {
  height: 100% !important;
}

.slick-slide {
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.title-reviews {
  padding-bottom: 60px;
}

.slick-prev:before {
  background-image: url('../../assets/img/icon/left-arrow.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px; 
  height: 20px;
  content:"";
  color: transparent !important;;
}

.slick-next:before {
  background-image: url('../../assets/img/icon/right-arrow.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px; 
  height: 20px;
  content:"";
  color: transparent !important;;
}

.slick-prev {
  left: -5px;
}

.slick-next {
  right: -5px;
}


.gift {
  max-width: 960px;
  margin: auto;
  padding-bottom: 100px;
}

.gift-heart1 img {
  width: 50px;
}

.gift-heart2 img {
  width: 50px;
}

.gift-title {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.gift-buy {
  display: flex;
  justify-content: center;
}

.wrap-gift-buy {
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  background-color: #ff5757;
  color: #fff;
}

.menu {
  padding-bottom: 45px;
}

.error {
  font-size: 12px;
  opacity: 0;
}

.wrap-menu {
  text-align: center;
  max-width: 960px;
  margin: auto;
  padding-bottom: 15px;
}

.menu-column1 {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
}

.menu-column2 .wrap-menu-column2 a {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  background-color: #008037;
  border-radius: 5px;
  font-family: OpenSans-Bold;
}

.menu-column3 .wrap-menu-column3 {
  color: #fff;
  padding: 10px;
  font-size: 20px;
  background-color: #008037;
  border-radius: 5px;
  font-family: OpenSans-Bold;
  cursor: pointer;
}

.menu-main-row {
  max-width: 960px;
  margin: auto;
  margin-bottom: 15px
}

.wrap-menu-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.wrap-menu-main-parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.wrap-menu-main-parent .menu-label-left {
  color: #991113;
  font-size: 24px;
  font-weight: bold;
}

.wrap-menu-main-parent .menu-label-right {
  color: #991113;
  font-size: 24px;
}

.wrap-menu-title  .menu-label-left {
  color: #991113;
  font-size: 20px;
  font-weight: bold;
}

.wrap-menu-title  .menu-label-right {
  font-size: 20px;
  font-weight: bold;
}


.wrap-menu-parent {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 15px;
}

.wrap-menu-parent .menu-label-left .menu-title-parent {
  font-weight: bold;
  font-size: 22px;
}

.wrap-menu-parent .menu-label-left .menu-description-parent {
  font-size: 18px;
}

.wrap-menu-parent .menu-label-right {
}

.wrap-menu-main {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding:0  15px;
  padding-bottom: 15px;
}

.menu-main-title {
  font-weight: bold;
  font-size: 18px;
}

.meun-main-title {
}

.wrap-form {
  max-width: 960px;
  margin: auto;
  padding-bottom: 70px;
}

.form-top-title {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
  text-align: center;
}

.form-content {
  padding-bottom: 30px;
  text-align: center;
}

.form-star {
  text-align: center;
  padding-bottom: 30px;
}

.form-star img {
  width: 200px;
}

.form-title {
  font-size: 28px;
  padding-bottom: 15px;
}

.red {
  color: red;
}

.form-hr {
  width: 80%;
  margin: auto;
  height: 2px;
  background-color: #008037;
  margin-bottom: 30px;
}

.wrap-input-form {
  width: 100%;
  margin-bottom: 15px;
}

.label-card {
  padding-bottom: 5px;
}

.wrap-input-form input {
  border: 1px solid;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: transparent;
}

.wrap-input-form select {
  width: 100%;
  height: 40px;
  background: transparent;
  padding: 0 15px;
}

.wrap-input-message textarea {
    border: 1px solid #000;
    width: 100%;
}

.choose-number {
  font-weight: bold;
}

.wrap-button-number {
  display: flex;
  flex-wrap: wrap;
}

.choose-person {
  padding-bottom: 30px;
}

.choose-number {
  padding-bottom: 15px;
}

.wrap-button button {
  background-color: #008037;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.submit {
  text-align: center;
}

.contact {
  background-color: #fce4de;
}

.wrap-contact {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.contact-column6 {
  width: 60%;
}

.contact-column4 {
  width: 40%;
}

.contact-call,
.contact-address,
.contact-time {
  display: flex;
  flex-direction: column;
}

.contact-call a {
  font-weight: bold;
  font-size: 18px;
  background-color: #ff5757;
  padding: 10px;
  color: #fff;
}

.contact-address a {
  font-weight: bold;
  font-size: 18px;
  background-color: #ff5757;
  padding: 10px;
  color: #fff;
}

.contact-time b:first-child {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
  text-align: end;
  color: #fff;
}

.list-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list-time p {
  padding-bottom: 10px;
  color: #fff;
}

.contact-call p {
  padding-top: 30px;
}

.contact-address p {
  padding-top: 30px;
}

.list-time {
  padding-top: 30px;
}

.address-title,
.call-title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}

.nail {
  position: relative;
  margin-bottom: 100px;
}

.nail-heart {
  position: absolute;
  bottom: -60%;
  left: -5%;
  z-index: 0;
}

.info-menu-app {
  max-width: 960px;
  margin: auto;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}

.menu-column2 .wrap-menu-column2 {
  margin-right: 15px;
  border-radius: 10px;
}

.menu-column3 .wrap-menu-column3{
  margin-right: 15px;
  border-radius: 10px;
}

body {
  position: relative;
}

.popup {
   background: #000;
   width: 100%;
   height: 100vh;
   position: fixed;
   z-index: 3;
   display: none;
}

.box {
   width: 530px;
   height: 200px;
   background-color: #fff;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   border-radius: 10px;
}

.show-popup {
   display: block;
}

.box-header {
   float: right;
}

.box-main {
   width: 100%;
   height: 100%;
}

.box-icon {
   margin: 0 15px;
   cursor: pointer;
}

.box-icon img {
   width: 50px;
   height: auto;
}

.box-list-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.wrap-box {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.wrap-box label {
	margin-left: 15px;
}

.modal-footer,
.modal-header {
  text-align: center;
  border: 0;
}

.modal-title,
.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.input-phone-popup input {
  width: 100%;
}

.box-report {
   display: none;
}

.box-title {
   text-align: center;
   font-size: 24px;
   font-weight: bold;
   padding-bottom: 30px;
   padding-left: 15px;
   padding-right: 15px;
}

.box-content {
   padding: 0 15px;
}

.box-content input,
.box-content textarea {
   width: 100%;
   border: 1px solid #991113;
   padding: 5px;
	margin-bottom:30px;
}

.box-submit {
   text-align: center;
   padding-top: 5px;
}

.box-submit input {
   background-color: #991113;
   color: #fff;
   padding: 10px;
   border-radius: 10px;
}

.box-good {
   display: none;
}

.submit-good {
   text-align: center;
   padding-top: 5px;
   padding-bottom: 15px;
}

.submit-good button a {
   background-color: #39a766;
   color: #fff;
   padding: 10px;
   border-radius: 10px;
}

/* The container */
.number {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
  position: relative;
  padding-left: 35px;
  margin-right: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guest-item-title {
  padding-bottom: 10px;
}

.wrap-slots {
  display: flex;
}

.select2-selection__clear {
  display: none;
}

.wrap-service-parent {
  display: none;
}

.hidden {
  display: none;
}

.wrap-input-message textarea {
  padding: 15px;
}

.wrap-service-parent {
  padding: 10px 0;
}

.wrap-service-item {
  margin: 30px 0
}

/* Hide the browser's default checkbox */
.number input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #008037;
}

/* On mouse-over, add a grey background color */
.number:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.number input:checked ~ .checkmark {
  background-color: #008037;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.number input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.number .checkmark:after {
    left: 7px;
    top: 4px;
    width: 10px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.over-hide {
  overflow: hidden;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  width: 70px;
  margin: 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  color: #008037;
  border: 1px solid #008037;
}
.checkbox-budget:not(:checked) + label {
  background-color: #fff;
}
.checkbox-budget:checked + label {
  background-color: transparent;
}

.checkbox-budget:not(:checked) + label:hover {
  background-color: #008037;
}

.checkbox-budget:not(:checked) + label:hover span {
  color: #fff;
}

.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #008037;
  z-index: -1;
}

.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span {
  position: relative;
  display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before {
  position: absolute;
  content: attr(data-hover);
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: white;
}
.checkbox-budget:not(:checked) + label span::before {
  max-height: 0;
}
.checkbox-budget:checked + label span::before {
  max-height: 100%;
}

.calendar {
  width: 20px;
  margin-top: -30px;
  margin-right: 15px;
  float: right;
}

.input-menu input {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  padding: 0 15px;
}

.wrap-required {
  margin-bottom: 30px;
  display: none;
}

.title-required {
  font-weight: bold;
}

.select2-container--default .select2-selection--single {
  height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
  top: 0 !important;
}

.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  border: 1px solid #000 !important;
  border-radius: 0px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #008037 !important;
}

.select-nember {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.error-checkbox {
  opacity: 0;
}

.menu-hide {
  display: none;
  transition: transform 500ms ease-in-out 25ms;
}


.welcome {
  margin-bottom: 30px;
}

.wrap-welcome {
  max-width: 960px;
  margin: auto;
}

.welcome-nail {
  display: flex;
}

.column-left {
  width: 50%;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
}

.title-welcome-nail {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
  padding-bottom: 15px;
}

.content-welcome-nail {
  padding-bottom: 30px;
  font-size: 18px;
}

.column-right {
  width: 50%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.wrap-gift {
  display: flex;
}

.title-gift {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
  padding-bottom: 30px;
}

.content-gift {
  padding-bottom: 30px;
  font-size: 18px;
}

.group-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.Check-gift,
.buy-gift {
  background-color: #008037;
  padding: 15px 30px;
  color: #fff;
  border-radius: 5px;
}

.menu-main {
  margin-bottom: 100px;
}

.menu-right-more {
  cursor: pointer;
}

.title-contact {
  font-size: 36px;
  font-family: OpenSans-ExtraBold;
  color: #fff;
}

.content-contact {
  padding-top: 30px;
  font-size: 18px;
  color: #fff;
}

.google-map iframe {
  width: 100%;
  height: 466px;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
}

.wrap-footer {
  padding: 30px 0;
}

.footer-row1 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-row2 {
   text-align: center;
}

.footer-service {
   padding: 0 30px;
}